#molSearch input[type=text] {
    text-align: center;
    font: inherit;
    border: 6px solid #a3d8d6;
    padding: 13px 12px;
    font-size: 15px;
    box-shadow: 0 1px 1px #DDD;
    outline: none;
    display: block;
    color: #7B8585;
    margin: 0 auto 20px;
}

#molSearch ul {
    list-style: none;
    display: inline-block;
    max-width: 20rem;
    text-align: left;
}

#molSearch ul li {
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    word-wrap: break-word;

    transition: 0.3s;
}

#molSearch ul li a {
    position: absolute;
    left: 160px;
    font-size: 12px;
    line-height: 16px;
    color: #969d9d;
}

#molSearch ul li:hover {
    background-color: #d8f2f1;
}
