.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#d3Mol {
    display:flex;
    flex-direction:row;
}
#d3Mol #molSpec {
    flex:1;
}
#d3Mol #molSearch {
    flex:2;
}
#d3Mol #molGrid {
    flex:8;
}
#root {
    margin: 0 auto;
    margin-top:2rem;
    background-color: ghostwhite;
}

#molGrid, #molSpec #molSearch {
    margin:0.4rem 0 0 0;
}
